In [ ]:
##conditional statements(if,else,elif)
##loops(for,while,break,continue,pass)

In [ ]:
#if- used for single condition
#elif-for multiple condition
#else-default conditions

In [ ]:
x = 10
if x == 10:
   print('value of x is 10')

In [ ]:
x= 67
if 5<x<25:
 print("yes")
elif 25<x:
 print("bada hoga yaar")
else:
 print("chota rh gya")

In [ ]:
x=46
if x%2==0:
 print("number is even")
else:
 print('number is odd')

In [ ]:
## for loop: it is used to iterate through object
ls=[1,2,3,4,5,6,7,8,9,10]
for i in ls:
 print(i*9)

In [1]:
#combination of for and if
## find the even number from list
ls=[1,2,3,4,5,6,7,8,9,10]
for i in ls:
    if i%2==0:
        print(i)

2
4
6
8
10

In [ ]:
ls=[1,2,3,4,5,6,7,8,9,10]
for i in ls:
    if i%2==0 and i%3==0:
        print(i)

In [3]:
for i in range(1,31):
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
for i in range(4,100):
    if i%7==0 and i%8==0:
         print(i)

In [ ]:
##while loop: the loops keeps on executing as long as the given condition is true
a=1
while a<=10:
    print(a)
    a+=1 ##for a=1, a=1+1=2(value increment is happening)

In [4]:
##run the loop till the variable is 15
a=0
while a<=15:
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [3]:
##square of numbers using two variables.
a=1
i=1
while a<10 and i<10:
    print(a*i)
    i+=1
    a+=1

1
4
9
16
25
36
49
64
81

In [5]:
a=1
while a in range(1,20):
    print(a*3)
    a+=1

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57

In [2]:
i=1
while i in range(1,25):
        print(i*2)
        i+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [ ]:
i=1
while i in range(1,25):
    if i%3==0:
        print(i)
        i+=1

In [ ]:
##control statements: break, continue and pass
## Break: Interupt the execution and come out of loop
ls=[1,2,3,6,5,4,8]
for i in ls:
    print(i)
    if i==4:
        break

In [30]:
ls=[1,3,5,7,9,11,12,15,8]##break at even number
for i in ls:
    print(i)
    if i%2==0:
        break

1
3
5
7
9
11
12

In [1]:
for i in range(1,30):
    print(i)
    if i%3==0:
        break

1
2
3

In [4]:
ls=[1,2,3,4,5,6,4,6,7,8,7,9,0,78]
for i in ls:
    print(i**2)
    if i==0:
        break

1
4
9
16
25
36
16
36
49
64
49
81
0

In [35]:
ls=[1,2,3,5,11,13,9,78,67,]
for i in ls:
    print(i)
    if i%2==0:
        break

1
2

In [3]:
ls=[1,2,3,5,11,13,9,78,67,]
for i in ls:
    if i%2==0:
        break
    print(i)

1

In [4]:
ls=[1,2,3,5,11,13,9,78,67,]## break at 78 without printng 78
for i in ls:
    if i==78:
        break
    print(i)

1
2
3
5
11
13
9

In [5]:
ls=[1,2,3,5,11,13,9,78,67,]##break at 78 and printng 78
for i in ls:
    print(i)
    if i==78:
        break

1
2
3
5
11
13
9
78

In [23]:
## continue : stop the current itreation and then executing the next itreation
ls=[1,2,3,6,5,4,8]#we have to skip 4
for i in ls:
    if i==4:
        continue ## executeonly  when i =4 and when it executed any thing after it does not executed.
    print(i)

1
2
3
6
5
8

In [6]:
ls=[1,2,3,6,5,4,8]
for i in ls:
    print(i)## i=4, 4 is printed
    if i==4: ## i=4
        print(i) 
        continue

1
2
3
6
5
4
4
8

In [7]:
ls=[1,2,3,6,5,4,8]
for i in ls:
    print(i)
    if i==4:
        continue

1
2
3
6
5
4
8

In [9]:
ls=[1,2,3,6,5,4,8]
for i in ls:
    if i==4:
        continue
    print(i)

1
2
3
6
5
8

In [24]:
ls=[1,2,3,4,5,6,7,8,9,10]
for i in ls:
        if i==5:
            continue
        print(i)

1
2
3
4
6
7
8
9
10

In [29]:
for i in range(1,30):
    if i%2==0 or i%5==0:
        continue
    print(i)

1
3
7
9
11
13
17
19
21
23
27
29

In [ ]:
a=0
while a<20:    
    if a==7:
        continue
    print(a)
    a+=1

0
1
2
3
4
5
6

In [1]:
a=0
while a<20: 
    a+=1
    if a==7:
        continue
    print(a)

1
2
3
4
5
6
8
9
10
11
12
13
14
15
16
17
18
19
20

In [13]:
for i in range(1,200):
    if i%5==0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49
51
52
53
54
56
57
58
59
61
62
63
64
66
67
68
69
71
72
73
74
76
77
78
79
81
82
83
84
86
87
88
89
91
92
93
94
96
97
98
99
101
102
103
104
106
107
108
109
111
112
113
114
116
117
118
119
121
122
123
124
126
127
128
129
131
132
133
134
136
137
138
139
141
142
143
144
146
147
148
149
151
152
153
154
156
157
158
159
161
162
163
164
166
167
168
169
171
172
173
174
176
177
178
179
181
182
183
184
186
187
188
189
191
192
193
194
196
197
198
199

In [34]:
## table of 4 without 8
for i in range(1,11):
    if i*4==8:
        continue
    print(i*4)

4
12
16
20
24
28
32
36
40

In [21]:
##pass: it will just let the iterator to pass to avoid error in program
ls=[1,2,3,4,5,6,7]
for i in ls:
    pass
    print(i*2)

2
3
4
5
6
7
8

In [39]:
for i in range(1,11):
    if i*4==8:
        ##pass
    print(i*4)

IndentationError: expected an indented block (826550798.py, line 4)

In [40]:
for i in range(1,11):
    if i*4==8:
        pass ## if we do no know what to write under if statement and we have to avoid error 
    print(i*4)

4
8
12
16
20
24
28
32
36
40

In [43]:
## functions: functions are set of reusable codes
## function to print a welcone message

def welcome():## def is keyword used to define a function
    print("hi welcome to python!!")

In [44]:
welcome()

hi welcome to python!!

In [55]:
##function to create the table of a given number
def tabl(a): ## a is arugment 
    i=1
    while i<=10:
        print(i*a)
        i+=1

In [56]:
tabl(2)

2
4
6
8
10
12
14
16
18
20

In [57]:
tabl(9)

9
18
27
36
45
54
63
72
81
90

In [62]:
def table(b):
    i=1
    while i<11:
        print(i*b)
        i+=1

In [63]:
table(5)

5
10
15
20
25
30
35
40
45
50

In [58]:
##create a function to add 2 numbers
def addnum(a,b):
    print(a+b)

In [59]:
addnum(5,6)

11

In [67]:
def sum1(a,b):
    print(a+b)

In [68]:
sum1(9,2)

11

In [70]:
def sub(a,b):
    print(a-b)

In [71]:
sub(900,566)

334

In [ ]:
## simple calculator using pyrhon
## take input of 2 number from user
## take input of operation from user(add,subs)

In [ ]:
a=input('type the input')
print(a)

In [1]:
##range function: create a sequence of numbers
#range(start,stop, step)
#start by default is 0
#stop is compulsory
#step is optional: default is 1
a=range(0,20,1)
print(a)
a=list(range(0,20,1))
print(a)
a=range(20)
print(a)
a=list(range(20))
print(a)

range(0, 20)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(0, 20)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
a=range(20)
print(a)
a=list(range(20))
print(a)

range(0, 20)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
a=range(0,20,2)
print(a)
a=list(range(0,20,2))
print(a)

range(0, 20, 2)
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
##lambda function: funation without name and take any number of argument
#lambda (arguments:value)
x=lambda a:a+12
print(x(3))
## x is a variable which stores function and lambda is a keyword.

In [ ]:
x=lambda a,b,c,d:a+b+c+d
print(x(3,4,5,6))

In [ ]:
print(x(4,4,4,4))

In [6]:
a=lambda x,y,z:x*y*z
print(a(2,3,4))

24

In [7]:
a=lambda x,y,z,b:x*y*z-b
print(a(2,3,4,20))

4